<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('../fragmente/head', { title: title }) %>
  </head>
  <body>
    <%- include('../fragmente/header') %>

    <main>
      <section id="welcome">
        <h2><%= heading %></h2>
        <p>Pagina este randata cu EJS, iar head, header si footer sunt incluse din fragmente reutilizabile.</p>
      </section>

      <%- include('../fragmente/date-utilizator') %>
    </main>

    <%- include('../fragmente/footer') %>
  </body>
</html>
